<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
   <meta http-equiv="refresh" content="10">
	<title>Tonytech1220</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/style.css') }}" >
</head>
<body>
<p>Temp. </p>
</body>
</html>

<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Digital Clock with Glowing Effect | CodingNepal</title>
      <link rel="stylesheet" href="style.css">
   </head>
   <body>
      <div class="wrapper">
         <div class="display">
            <div id="name">Temp. = {{ temp }} *C <br> Humi. = {{ humi }} %</div>
         </div>
         <span></span>
         <span></span>
      </div>
   </body>
</html>
